<%= form_for(recipe) do |f| %>


			<div class = "field" >
				<%= f.label :name %><br />
				<%= f.text_field :name %>
			</div>
			<div class = "field" >
				<%= f.label :serving_size %><br />
				<%= f.text_field :name %>
			</div>
			

			<div class = "actions" >
				<%= f.submit "Create recipe" %>
				
			</div>
		<%end%>
