<%= form_for(user) do |f| %>
	<% unless user.errors.empty? %>
	<div id="user_error_message">
		You have some errors.<br />
		<ul>
		<% user.errors.keys.each do |error_field| %>
			<li><%= "#{error_field.to_s.gsub("_"," ").capitalize} #{user.errors[error_field].first}" %> </li>
		<% end %>
		</ul>
	</div>
	<%end%>
	<div class = "field" >
		<%= f.label :full_name %><br />
		<%= f.text_field :name %>
	</div>
	<div class = "field" >
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class = "field" >
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class = "field" >
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class = "actions">
		<% button_text ||= "Sign Up!" %>
		<%= f.submit button_text%>
	</div>
<% end %>
