<h1><%= @user.name %></h1>

<%= link_to "Edit Profile", edit_user_path(current_user) %>
<br>
<br>
<div class="row-fluid">
<% if signed_in? %>
<div class="span4">
<% else %>
<div class="span12">
<% end %>
<div class="hero-unit">
<h2>My Recipes and Ingredients</h2>
<br>


<table class ="table table-striped">
        <thead>
	        <tr>
	        <th></th>
          	</tr>
        </thead>
        
    <%  current_user.recipes.order("created_at DESC").limit(10).each do |recipe| %>
         <tr>
           <td><%= link_to recipe.name.titleize, recipe %>
           <%  recipe.ingredients.each do |ingredient| %>
          <li><%= link_to ingredient.name.titleize, ingredient %></li>
           <% end %>
           <i>Created on <%=  recipe.created_at.strftime('%m/%d/%Y') %></i>
           </td>
        </tr>
<% end %>
</table>


</div>
</div>
<% if signed_in? %>
<div class="span8">
<div class="hero-unit">
<h2>My Nutrition Log</h2>
<br>
<table class ="table table-striped">
          <thead>
<tr>
	<th>Item Name</th>
    <th>Category Name</th>
    <th>Nominal Price</th>
    <th>Options</th>
	<th>Unique Item ID</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>
        </thead>
<%  Ingredient.recently_added.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.id %></td>
    <td><%= ingredient.id %></td>
    <td><%= ingredient.id %></td>
    <td></td>
  </tr>
<% end %>
</table>
</table>

<% end %>
</div>
</div>
</div>
