<h1><%= @user.name %></h1>

<%= link_to "Edit Profile", edit_user_path(current_user) %>
<br>
<br>
<div class="row-fluid">
<% if signed_in? %>
<div class="span4">
<% else %>
<div class="span12">
<% end %>
<div class="hero-unit">
<h2>My Created Items</h2>
<br>
<% if signed_in? %>

<table class ="table table-striped">
        <thead>
	        <tr>
	        <th>Item Name</th>
          	</tr>
        </thead>
        
    <%  current_user.ingredients do |ingredient| %>
         <tr>
           <td><%= link_to ingredient.name, :ingredient %></td>
        </tr>
<% end %>
</table>

<% end %>
</div>
</div>
<% if signed_in? %>
<div class="span8">
<div class="hero-unit">
<h2>Nutrition Log</h2>
<br>
<table class ="table table-striped">
          <thead>
<tr>
	<th>Item Name</th>
    <th>Category Name</th>
    <th>Nominal Price</th>
    <th>Options</th>
	<th>Unique Item ID</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>
        </thead>
<%  Ingredient.recently_added.each do |ingredient| %>
  <tr>
    
    <td><%= ingredient.name %></td>
    <td><%= ingredient.id %></td>
    <td><%= ingredient.id %></td>
    <td><%= ingredient.id %></td>
    <td></td>
  </tr>
<% end %>
</table>
</table>

<% end %>
</div>
</div>
</div>
