<h1><%= @user.name %></h1>

<%= link_to "Edit Profile", edit_user_path(current_user) %>
<br>
<br>
<div class="row-fluid">
<% if signed_in? %>
<div class="span4">
<% else %>
<div class="span12">
<% end %>
<div class="hero-unit">
<h2>My Recipes and Ingredients</h2>
<br>


<table class ="table table-striped">
        <thead>
	        <tr>
	        <th></th>
          	</tr>
        </thead>
        
    <%  current_user.recipes.order("created_at DESC").limit(10).each do |recipe| %>
         <tr>
           <td><%= link_to recipe.name.titleize, recipe %>
           <%  recipe.ingredients.each do |ingredient| %>
          <li><%= link_to ingredient.name.titleize, ingredient %></li>
           <% end %>
           <i class="pull-right">Created on <%=  recipe.created_at.strftime('%m/%d/%Y')%></i>
           </td>
        </tr>
<% end %>
</table>


</div>
</div>
<% if signed_in? %>
<div class="span5">
<div class="hero-unit">
<h2>My Nutrition Log <%= link_to "Add A Meal", :ingredients, :class => 'btn btn-success pull-right' %></h2>
<br>

<table class ="table table-striped">
          <thead>
<tr>
	<th>Meal Name</th>
    <th>Consumed At</th>
    <th></th>
  </tr>
        </thead>
<%  current_user.log_recipes.each do |recipe| %>
  <tr>
    <td><%=  Recipe.find(params[:id]=recipe.recipe_id).name.titleize %></td>
    <td><%= recipe.created_at.strftime('%m/%d/%Y %I:%M %p') %></td>
    <td> <%= link_to "View Item",  Recipe.find(params[:id]=recipe.recipe_id), :class => 'btn btn-primary btn-mini pull-right' %></td>
  </tr> 
<% end %>
</table>
</table>

<% end %>
</div>
</div>
<% if signed_in? %>
<div class="span3">
<div class="hero-unit">
<h2>Active Users</h2>
<br>

<table class ="table table-striped">
          <thead>
<tr>
	<th>Users</th>
  </tr>
        </thead>
<% @recentusers.limit(10).each do |user| %>
  <tr>
    <% if user.creator_id != nil%>
    <% if user.creator_id == current_user.id %>
       <td><%= link_to "Me", current_user %>
    <% else %>    
        <td><%= link_to User.find(params[:id] =user.creator_id).name, User.find(params[:id] = user.creator_id)  %></td>
    <%end%>
<%end%>

  </tr>
<% end %>
</table>
</table>

<% end %>
</div>
</div>
</div>
