<h1>Food</h1>
<br>
<div class = "row-fluid">
<div class = "span2">

<form class="well">
  <h2>Search</h2>
  <input type="text" class="span2" placeholder="Find an Ingredient..."><br>
  <button type="submit" class="btn btn-primary ">Search</button>
  <br>
  <br>
  <%= link_to "Create a new ingredient", new_ingredient_path, :class => 'btn btn-success' %>
</form>

</div>
<div class = "span3">
<div class="hero-unit">

<div id="created_ingredients">
	<h2>My Ingredients</h2>
	<br>
	
	
	<table class = "table table-striped">
    <thead>
	<tr>
	<th></th>
	<th></th>
	</tr>
	</thead>
	<% @created_ingredients.each do |i| %>
	<tr>
    <td><%= i.name.titleize %></td>
    <td><%= link_to "Delete", i, :method=>:destroy,:confirm=>"Are you sure?", :class => "btn btn-danger btn-mini" %></td>
    </tr>
	<% end %>
	</table>
</div>
</div>
</div>

<div class = "span6">
<div class = "hero-unit">
<div id="consumed_ingredients">
	<h2>Ingredients that I've consumed in the past week</h2>
	<table class = "table table-striped">
    <thead>
	<tr>
	<th></th>
	<th></th>
	</tr>
	</thead>
	<% @created_ingredients.each do |i| %>
	<tr>
    <td><%= i.name.titleize %></td>
    <td><%= link_to "Delete", i, :method=>:destroy,:confirm=>"Are you sure?", :class => "btn btn-danger btn-mini" %></td>
    </tr>
	<% end %>
	</table>
</div>
</div>
</div>
</div>
