<script language ="javascript">
	$(function($) { 
		$("#search-button").click(function() {
			replace_with_search();
		});

		$("#search-text").keypress(function(e) {
			var code = (e.keyCode ? e.keyCode : e.which);
			if(code == 13)
			{
				replace_with_search();
			}
		});

		function replace_with_search()
		{
			$("#consumed_ingredients").load("<%= recipe_search_path %>?q=" + $("#search-text").val());
		};
	});	
</script>


<h1>Food</h1>
<br>
<div class = "row-fluid">
<div class = "span2">

<div class="well">
  <h2>Search</h2>
  <input type="text" class="span2" id="search-text" placeholder="Find an Ingredient..."><br>
  <button type="button" class="btn btn-primary " id="search-button">Search</button>
  <br>
  <br>
  <%= link_to "Create a new ingredient", new_ingredient_path, :class => 'btn btn-success' %>
  <br>
  <br>
  <%= link_to "Create a new recipe", new_recipe_path, :class => 'btn btn-success' %>
</div>

</div>
<div class = "span4">
<div class="hero-unit">

<div id="created_ingredients">
	<h2>My Ingredients and Recipes</h2>
	<br>
	
	
<table class ="table table-striped">
        <thead>
	        <tr>
	        <th></th>
	        <th></th>
	                  	</tr>
        </thead>
		<% cu = current_user.recipes.order("created_at DESC").limit(10)%>
		<%= "No recipes found" if cu.empty? %>
		<% cu.each do |recipe| %>
         <tr>
           <td><%= recipe.name.titleize%> (Recipe)</td>
           <td><%= link_to "View Item", recipe, :class => "btn btn-primary btn-mini" %></td>
           <td><%= link_to "Consume", consume_recipe_path(recipe), :class => "btn btn-success btn-mini" %></td>
            
    
        </tr>
        <tr>
         <%  recipe.ingredients.each do |ingredient| %>
         
          <td><%= ingredient.name.titleize %></td>
          <td><%= link_to "View Item", ingredient, :class => "btn btn-primary btn-mini" %></td>
          <td></td>
    
         </tr>
         <% end %>
         
<% end %>
</table>
</div>
</div>
</div>

<div class = "span6">
<div class = "hero-unit">
<div id="consumed_ingredients">
	<h2>Search for recipes on the left hand side...</h2>

</div>
</div>
</div>
</div>
