<!DOCTYPE html>
<html>
<head>
  <title>Nl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="navigation">
	<%= link_to_unless_current "Home", :root %>
	<%= link_to_unless_current "About", :about %>
	<%= link_to_unless_current "Team", :team %>
	<% unless signed_in? %>
		<%= link_to_unless_current "Log in", :signin %>
		<%= link_to_unless_current "Sign up", :signup %>
	<% else %>
		<%= link_to "Sign out", :signout %> |
		<%= link_to current_user.name, :profile %>
	<% end %>
</div>
<%if flash[:notice] %>
	<p class = "notice"><%= flash[:notice] %></p>
<%end%>
<% if flash[:error] %>
	<p class = "error"><%= flash[:error] %></p>
<%end%>
<%= yield %>

</body>
</html>
